$primary-font-family: 'Montserrat', sans-serif;
$primary-color: #a3abb6;

$size-1: 1.8rem;
$size-2: 1.6rem;
$size-3: 1.4rem;
$size-1: 1.2rem;
$size-5: 1rem;
$size-6: .8rem;
$size-7: .6rem;

$material-transition: cubic-bezier(.62,.28,.23,.99);
